<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <h2>wane</h2>
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="study" class="nav-link px-2 text-white">Study</a></li>
        <li><a href="board" class="nav-link px-2 text-white">Board</a></li>

      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <p class="p-0">...님 환영합니다 </p>
      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2" th:onclick="|location.href='/login'|">Login</button>
        <button type="button" class="btn btn-warning"th:onclick="|location.href='/signup'|">Sign-up</button>
      </div>
    </div>
  </div>
</header>
</body>
</html>
